body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #3b3e40;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    text-align: center;
}

p {
    font-family: monospace;
    margin: 0;
    color: white;
    padding-left: 3px;
    text-align: start;
}

h1 {
    color: #e76f51;
}

.bx {
    color: #e6e6e6;
}

.tool-optn, .imageUpload {
    transition: background-color 0.1s;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.tool-optn:hover, .imageUpload:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.toolbar-wrapper {
    z-index: 999;
    position: fixed;
    width: 100vw;
    bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-toolbar {
    max-width: 50px !important;
}

.toolbar {
    z-index: 999;
    width: 1000px;
    max-width: 90%;
    backdrop-filter: blur(20px);
    background-color: rgba(41, 41, 41, 0.75);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(96, 96, 96, 0.6);
}

.toolbar-sect {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.top {
    gap: 5px;
    width: auto !important;
    position: fixed !important;
    top: 35px !important;
    bottom: auto !important;
}

.btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"] {
    display: none;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

select, input[type="color"], input[type="range"] {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
}

.dot-overlay {
    margin: 10px;
    overflow: hidden;
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 5;

    background-image: radial-gradient(
            rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 24px 24px;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

#whiteboard {
    margin: 10px;
    background-color: #131313;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    cursor: crosshair;
}