<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel ="icon" type = "image" href = "https://creatorset.com/cdn/shop/products/Ishowspeed_image_530x@2x.jpg?v=1672258877">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <input name="username" placeholder="Username"><br>
        <input name="password" type="password" placeholder="Password"><br>
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('login') }}">Login instead</a>
</body>
</html>
