<!DOCTYPE html>
<html>
<head>
    <title>Whiteboard Studio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/whiteboard.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

<div class="wrapper">
    <div class="toolbar top">
        <button class="btn" onclick="clearCanvas()">Clear</button>
        <button class="btn" onclick="saveCanvas()">Save</button>
        <a class="btn" href="{{ url_for('home') }}" style="text-decoration: none">Home</a>
    </div>
    <div class="toolbar-wrapper">
        <div class="toolbar">
            <div class="toolbar-sect">
        <div class="tool-optn" onclick="setTool('draw', this)">
            <i class="bx bx-pencil bx-md"></i>
        </div>

                <div class="tool-optn" onclick="setTool('highlight', this)">
                    <i class="bx bx-pen bx-md"></i>
                </div>

        <div class="tool-optn" onclick="setTool('eraser', this)">
            <i class="bx bx-eraser bx-md"></i>
        </div>

        <div class="tool-optn" onclick="setTool('line', this)">
            <i class="bx bx-minus bx-md"></i>
        </div>

        <div class="tool-optn" onclick="setTool('rect', this)">
            <i class="bx bx-rectangle bx-md"></i>
        </div>

        <div class="tool-optn" onclick="setTool('circle', this)">
            <i class="bx bx-circle bx-md"></i>
        </div>

        <div class="tool-optn" onclick="setTool('fill', this)">
            <i class="bx bx-color-fill bx-md"></i>
        </div>

                <div class="tool-optn" onclick="setTool('text', this)">
                    <i class="bx bx-text bx-md"></i>
                </div>

                <div class="tool-optn" onclick="setTool('select', this)">
                    <i class="bx bx-selection bx-md"></i>
                </div>

                <div class="tool-optn" onclick="setTool('move', this)">
                    <i class="bx bx-move bx-md"></i>
                </div>

                <label for="imageLoader" class="imageUpload">
                    <i class="bx bx-image-add bx-md"></i>
                </label>
                <input id="imageLoader" type="file" accept="image/*"/>

            </div>

            <div class="toolbar-sect">
                <input type="color" id="color" value="#ffffff">
                <div style="margin-left: 5px;">
                    <p>Brush Size</p>
                    <input type="range" id="brushSize" min="1" max="30" value="4" style="width: 150px; height: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
    <canvas id="whiteboard" style="width: 100%; height: 100%"></canvas>
    </div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/whiteboard.js') }}"></script>
</body>
</html>
